# 00_dc/*
# 01_fm_post_dc/*
# 02_pr/*
# 03_fm_post_pr/*
# 04_pt/*
# 05_pv/*
# 06_power/*
# 07_signoff_check/*
# others/*
# eco/*
doc/PPT/*



01_fm_post_dc/data/lib/*.db
00_dc/data/lib/*.db
.vscode/*

02_pr/data/layout_files/*.gds2
02_pr/data/layout_files/*.gds
02_pr/data/lef/sram/*.lef
02_pr/data/lef/*.lef
02_pr/data/lib/ndm/*
02_pr/data/techfile/milkyway/*
02_pr/data/techfile/lef/*
02_pr/data/techfile/synopsys_tluplus/*

03_fm_post_pr/data/lib/*.db
03_fm_post_pr/data/verilog/*.v


04_pt/data/techfile/lef/*
04_pt/data/techfile/milkyway/*
04_pt/data/techfile/synopsys_tluplus/*
04_pt/data/techfile/TD-LO40-XS-2037v0/*


05_pv/data/layout_files/*
05_pv/data/techfile/*
05_pv/drc/TD-LO40-DC-2002v10/SMIC_CalDRC_40GELGLL_0911121825_V1.12.1_0.tar.gz



06_power/apldi/outputs/*
06_power/data/*

others/scripts/lib/ndm_mcmm/1P7M_1TM_ALPA2/*.ndm
others/scripts/lib/ndm_mcmm/1P7M_1TM_ALPA2.io/*.ndm
