00_dc/*
01_fm_post_dc/*
02_pr/*
03_fm_post_pr/*
04_pt/*
05_pv/*
06_power/*
07_signoff_check/*
others/*
eco/*
doc/PPT/*

02_pr/data/*.sdf
02_pr/nlib/*
01_fm_post_dc/FM_INFO/*
01_fm_post_dc/FM_WORK/*
01_fm_post_dc/formality_svf/*
01_fm_post_dc/tmp_work/*
00_dc/logs/*
00_dc/WORK/*
02_pr/data/layout_files/*
02_pr/data/*.v

# SMIC PDK 工艺库文件：仅本地保留，不上传 GitHub
02_pr/data/techfile/
02_pr/data/lef/


# 大网表文件：仅本地保留
02_pr/data/soc_pad_wrapper.v
.vscode/*
