00_dc/*
01_fm_post_dc/*
# 02_pr/*
03_fm_post_pr/*
04_pt/*
05_pv/*
06_power/*
07_signoff_check/*
others/*
eco/*
doc/PPT/*

02_pr/data/*.sdf
02_pr/nlib/*
01_fm_post_dc/FM_INFO/*
01_fm_post_dc/FM_WORK/*
01_fm_post_dc/formality_svf/*
01_fm_post_dc/tmp_work/*
00_dc/logs/*
00_dc/WORK/*
02_pr/data/layout_files/*
02_pr/data/*.v

# SMIC PDK 工艺库文件：仅本地保留，不上传 GitHub
02_pr/data/techfile/
02_pr/data/lef/



02_pr/data/lib/ndm/check_workspace.ems
02_pr/data/lib/ndm/lm_command.log
02_pr/data/lib/ndm/lm_output.log
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/p0
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/p1
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/p2
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/p3
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/p4
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/pcat
02_pr/data/lib/ndm/SP40NLLD2RN_3P3V_V0p4.ndm/reflib.ndm
02_pr/data/lib/ndm/log/0/check_workspace.ems
02_pr/data/lib/ndm/log/0/icc2_command.log
02_pr/data/lib/ndm/log/0/icc2_output.txt
02_pr/data/lib/ndm/log/0/lm_command.log
02_pr/data/lib/ndm/log/0/lm_output.txt
02_pr/data/lib/ndm/log/1/check_workspace.ems
02_pr/data/lib/ndm/log/1/lm_command.log
02_pr/data/lib/ndm/log/1/lm_output.txt
02_pr/data/lib/ndm/log/2/check_workspace.ems
02_pr/data/lib/ndm/log/2/lm_command.log
02_pr/data/lib/ndm/log/2/lm_output.txt
02_pr/data/lib/ndm/log/3/check_workspace.ems
02_pr/data/lib/ndm/log/3/lm_command.log
02_pr/data/lib/ndm/log/3/lm_output.txt
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p0
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p1
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p2
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p3
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p4
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/p5
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/pcat
02_pr/data/lib/ndm/scc40nll_vhsc40_hvt.ndm/reflib.ndm
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p0
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p1
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p2
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p3
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p4
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/p5
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/pcat
02_pr/data/lib/ndm/scc40nll_vhsc40_lvt.ndm/reflib.ndm
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p0
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p1
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p2
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p3
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p4
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/p5
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/pcat
02_pr/data/lib/ndm/scc40nll_vhsc40_rvt.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/check_workspace.ems
02_pr/data/lib/ndm/sram/lm_command.log
02_pr/data/lib/ndm/sram/lm_output.txt
02_pr/data/lib/ndm/sram/Synopsys_stack_trace_77541.txt
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMSP1024X16/RAMSP1024X16_preFrame.err
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMSP128X16/RAMSP128X16_preFrame.err
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMSP2048X16/RAMSP2048X16_preFrame.err
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMSP4096X16/RAMSP4096X16_preFrame.err
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMTP1024X16/RAMTP1024X16_preFrame.err
02_pr/data/lib/ndm/sram/PreFrameCheck/RAMTP128X16/RAMTP128X16_preFrame.err
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMSP1024X16.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMSP128X16.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMSP2048X16.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMSP4096X16.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMTP1024X16.ndm/reflib.ndm
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p0
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p1
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p2
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p3
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p4
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p5
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p6
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p7
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p8
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p9
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p10
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p11
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p12
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p13
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p14
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p15
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p16
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/p17
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/pcat
02_pr/data/lib/ndm/sram/RAMTP128X16.ndm/reflib.ndm


# 大网表文件：仅本地保留
02_pr/data/soc_pad_wrapper.v
